:host {
  margin-top: -64px !important;
}

.homepage {
  &-avatar {
    border-radius: 50%;
  }

  &-links {
    display: inline-block;

    line-height: 40px;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
    vertical-align: top;

    a {
      text-decoration: none;
      color: black
    }

    a:hover {
      color: red
    }
  }
}
