<img class="homepage-avatar" src="/assets/avatar.png" />

<ul class="homepage-links">
  <li>
    <a href="http://www.linkedin.com/in/matheoco">
      <i class="fa fa-linkedin fa-lg"></i>
    </a>
  </li>
  <li>
    <a href="http://stackoverflow.com/story/matheo">
      <i class="fa fa-stack-overflow fa-lg"></i>
    </a>
  </li>
  <li>
    <a href="https://github.com/matheo"> <i class="fa fa-github fa-lg"></i> </a>
  </li>
  <li>
    <a href="https://www.paypal.me/mateotp">
      <i class="fa fa-paypal fa-lg"></i>
    </a>
  </li>
  <li>
    <a href="mailto:me@matheo.co"><i class="fa fa-envelope-o fa-lg"></i></a>
  </li>
</ul>
